<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Code:</strong>
  <%= @course.code %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @course.teacher %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>

<br>

<h2>People</h2>

<%= render 'people/list', people: @course.students %>

<%= link_to 'New Enrollment', new_enrollment_path, class: 'btn btn-md btn-success' %>
<%= link_to 'New Assignment', new_assignment_path, class: 'btn btn-md btn-success' %>
